*, *::before, *::after{
	box-sizing: inherit;
	box-sizing: border-box;
}
:root{
	--color-logo-web:#2196F3 ;
	--color-logo-studio:#000000;
	--color-adresses:#757575;
	--color-white:#ffffff;
	--color-background-section-first:#2F303A;
	--color-background-section-team:#F5F4FA;
	--color-text-p:#212121;
	--color-active:#188CE8;
	--font-family-logo:'Raleway', sans-serif;
	--font-family-other-text:'Roboto', sans-serif;
	}
	body{
		font-family:var(--font-family-other-text);
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.02em;
	}
	
	.header{
		padding-top: 24px;
		padding-bottom: 25px;

	}
	.flex-element{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.container{
		width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
		border: 1px dotted tomato
	}
	.logo-web{
		font-family: var(--font-family-logo);
		font-weight: 700;
		font-size: 26px;
		color: var(--color-logo-web);
	
	}
	.header-nav-link-span-studio{
		font-family: var(--font-family-logo);
		font-weight: 700;
		font-size: 26px;
		color: var(--color-logo-studio);
	}
	.nav-list-link{
		color: var(--color-menu-nav);
	}
	.header-address-email:hover,
	.header-address-tel:hover{
		color: var(--color-logo-web);
		/* text-decoration: underline; */
	}
	.nav-link-list{
		display: flex;
		margin-left: 93px;
		margin-right: 344px;
		/* padding-right: 344px ; */
		/* display:flex; */
		/* flex-direction: row;
		justify-content: center; */
	}
	.nav-link-list-contacts{
		display: flex;
	}
	.active-link{
		color: var(--color-logo-web);
	}
	.nav{
		display: flex;
    justify-content: space-between; 
    align-items: center; 
		
	}
	.ul-link:not(:last-child){
		display: flex;
		margin-right:50px;
	}
	.header-address-email, .header-address-tel{
		color: var(--color-adresses);
	
	}
	.ul-link-contacts:first-child{
		margin-right: 50px;
	}
	.address-item{
		color: var(--color-white);
	}
	.hero{
		font-weight: 700;
		font-size: 44px;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		text-align: center;
		background: var(--color-background-section-first);
		color: var(--color-white);
	
		padding: 200px 0 200px;
	}
	.hero-title{
		font-family: var(--font-family-other-text);
		font-weight: 900;
		font-size: 44px;
		line-height: 136%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		text-align: center;
		color: var(--color-background-section-team);
		margin: 0px 0px 30px;
	}
	.hero-button{
		font-weight: 700;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.06em;
		text-align: center;
		width: 216px;
		height: 50px;
		background: var(--color-logo-web);
		color: var(--color-white);
		border-radius: 4px;
		border: none;
	}
	.hero-button:active{
		background-color: var(--color-active);
	
	}
	.keyaspects-section{
		margin-top: 94px;
	}
	.keyaspects-h3-title{
		margin-bottom: 10px;
	}
	.keyaspects-list{
		display: flex;
		/* justify-content: space-between; */
	}
	.keyaspects-items{
		/* width: 270px; */
		flex-basis: 270px;
	}
	.keyaspects-items:not(:last-child){
		/* width: 270px; */
		margin-right: 30px;
	}
	.team-position, 
	.whatwedo-title, 
	.keyaspects-title,
	.team-title{
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--color-text-p);
		text-align: center;

	}
	.team-position{
		margin-top:10px;
		margin-bottom:30px;
	}
	.keyaspects-title{
		margin-bottom: 50px;
		display: none;
	}
	.keyaspects-text,.team-text/*,.portfolio-text*/{
		
		font-weight: 400;
		line-height: 1.5;
		letter-spacing: 0.03em;
		color: var(--color-adresses);

	}
	.team-text{
		margin-top:30px;
		text-align: center;
	}
	.whatwedo-section{
		padding-top: 94px;
		padding-bottom: 94px;
	}
	.whatwedo-title{
		margin-bottom: 50px;

	}
	.whatwedo-list{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.whatwedo-item:nth-child(1){
		margin-right:30px;
	}
	.whatwedo-item:nth-child(2){
		margin-right:30px;
	}
	.team-title{
		margin:94px 0 50px 0;
	}
	.team-item{
		background-color: var(--color-white);
		margin-right:30px;
		border-radius: 9px;
	}
	.team-list{
		display: flex;
		flex-direction: row;
		justify-content: center;
		
	}
	.team-section{
		background: var(--color-background-section-team);
padding-top:94px;
padding-bottom: 94px;
	}
	.footer{
		background: var(--color-background-section-first);
		padding: 60px 0;
	}
	.footer-logo-studio{
		font-family: var(--font-family-logo);
		font-weight: 700;
		font-size: 26px;
		color: var(--color-white);
		margin-bottom: 16px;
	}
	.address{
		margin-top: 20px;
	}
	.address-item{
		margin-top: 9px;
	}
	.item-address-email, .item-address-tel{
		color: var(--color-adresses);
	}
	/* .item-address-email:hover, .item-address-tel:hover{
		color: var(--color-logo-web);
	} */
	/* a[href^="/"]{
		text-decoration: none;
		color: #212121;
	}
	/* ----------------- ----------------- ----------------*/
	
	
	/*---- PORTFOLIO-STYLES ---- */
	.portfolio-title{
		font-family: var(--font-family-logo);
		color:var();
		text-align: center;
	}
	.portfoliio-list{
		display: flex;
		justify-content: center;
	
	}
	.portfolio-item{
		font-family: var(--font-family-other-text);
		font-size: 16px;
		width: 73px;
		height: 38px;
		background-color: var(--color-background-section-team);
		color: var(--color-logo-studio);
		border-radius: 4px;
		margin:8px;
	
		/* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
	}
	.button-all, .button-website, .button-appendices, .button-design, .button-marketing{
		font-family: var(--font-family-other-text);
		font-size: 16px;
		width: 125px;
		height: 38px;
		background-color: var();
		color: var(--color-logo-studio);
		border-radius: 4px;
		margin:8px;
		margin-bottom: 50px;
	}
	.button-all:hover, .button-website:hover, .button-appendices:hover, .button-design:hover, .button-marketing:hover{
		font-family: var(--font-family-other-text);
		font-size: 16px;
		width: 125px;
		height: 38px;
		background-color:  var(--color-active);
		color: var(--color-white);
		border-radius: 4px;
		margin:8px;
	}
	