*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
/* *{
	box-sizing: border-box;
	margin:0;
	padding: 0;
} */
:root{
--color-logo-web:#2196F3 ;
--color-logo-studio:#000000;
--color-adresses:#757575;
--color-white:#ffffff;
--color-background-section-first:#2F303A;
--color-background-section-fourth:#F5F4FA;
--color-text-p:#212121;
--font-family-logo:'Raleway', sans-serif;
--font-family-other-text:'Roboto', sans-serif;
}
body{
	font-family:var(--font-family-other-text);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
.header_nav_link_span_web, .footer_div_link_logo-web{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-logo-web);

}
.header_nav_link_span_studio{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-logo-studio);
}
.nav_list_link{
	color: var(--color-menu-nav);
}
.ul_list_link_address-email, .ul_list_link_address-tel{
	color: var(--color-adresses);
}
.address-street{
	color: var(--color-white);
}
.main_section-first{
	font-weight: 700;
	font-size: 44px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	background: var(--color-background-section-first);
	color: var(--color-white);
}
.section_div_title{
	line-height: 2;
}
.section_div_btn_01{
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.06em;
	text-align: center;
	width: 216px;
	height: 50px;
	background: var(--color-logo-web);
	color: var(--color-white);
}
h3, h2{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-text-p);
}
p{
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--color-adresses);
}
.main_section-fourth{
	background: var(--color-background-section-fourth);
}
footer{
	background: var(--color-background-section-first);
}
.footer_div_link_logo-studio_white{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-white);
}
/* a[href^="/"]{
	text-decoration: none;
	color: #212121;
}
nav{
	color: #2196F3;
	font-weight: bold;
}
header{
  display: flex;
  flex-direction: column;

	background-color: #ffffff;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer{
	background-color: #2F303A;
}
main > .section_first{
	background-color: #2F303A;
	display: flex;
	justify-content: center;
	align-items: center;
}
main > .section_second{

	margin: 94px 0px 94px 10px;
}
main > .section_fourth{
	background-color: #F5F4FA;
}
p{
	color: #757575;
	margin-top:10px ;
}
h3, h2{
	color: #212121;
	margin-top:10px ;
}
/* HEADER */



/* 
.web_header, .web_footer{
	color: #2196F3;
	font-size: 26px;
	font-weight: bold;
	margin-left: 215px;
}

.studio_header{
	color: #212121;
	font-size: 26px;
	font-weight: bold;
}
ul li a[href^="mailto"],a[href^="tel"] {
	color: #757575;
}

/* --------------- */
/* MAIN */
/*
.title_wrapper{
	color: #ffffff;
	margin: 200px 0px 0px 0px;
	font-size: 44px;

	
}
.btn_01{
	color: #ffffff;
	background-color: #2196F3;

	font-size: 16px;

	width: 216px;
	height: 50px;
	border-radius: 4px;
	background: #2196F3;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

	margin: 30px 0px 200px 300px;
}
/* --------------- */
/* FOOTER */

/*

a {
	text-decoration: none;
	color: #ffffff;
}
.studio_footer{
	color: #ffffff;
	font-size: 26px;
	font-weight: bold;

	margin-top: 60px;

}

footer a{
	text-decoration: none;
	color: #212121;
}
ul > li{
	color: #ffffff;
} */
/* --------------- */