/* *{
	box-sizing: border-box;
	margin:0;
	padding: 0;
} */

:root{
--color-logo-web:#2196F3 ;
--color-logo-studio:#000000;
--color-adresses:#757575;
--color-white:#ffffff;
--color-background-section-first:#2F303A;
--color-background-section-fourth:#F5F4FA;
--color-text-p:#212121;
--color-active:#188CE8;
--font-family-logo:'Raleway', sans-serif;
--font-family-other-text:'Roboto', sans-serif;
}
body{
	font-family:var(--font-family-other-text);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.02em;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	padding-top: 24px;
	padding-bottom: 25px;
}
.container{
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	border: 1px dotted tomato
}
.header-nav-link-span-web, .footer-div-link-logo-web{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-logo-web);

}
.header-nav-link-span-studio{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-logo-studio);
}
.nav-list-link{
	color: var(--color-menu-nav);
}
.ul-list-link-address-email:hover,
.ul-list-link-address-tel:hover{
	color: var(--color-logo-web);
	/* text-decoration: underline; */
}
.nav-link-list{
	display: inline;
	/* display:flex; */
	/* flex-direction: row;
	justify-content: center; */
}
.nav-link-list-contacts{
	display: inline;
}
.active-link{
	color: var(--color-logo-web);
}
.nav{
	display: inline;
}
.ul-link{
	display: inline;
	/* padding: 50px; */
}
.ul-list-link-address-email, .ul-list-link-address-tel{
	color: var(--color-adresses);
}
.address-street{
	color: var(--color-white);
}
.hero{
	font-weight: 700;
	font-size: 44px;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	background: var(--color-background-section-first);
	color: var(--color-white);

	padding: 200px 0 200px;
}
.hero-title{
	line-height: 2;
}
.hero-button{
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.06em;
	text-align: center;
	width: 216px;
	height: 50px;
	background: var(--color-logo-web);
	color: var(--color-white);
}
.hero-button:active{
	background-color: var(--color-active);

}
.main-section-second{
	padding-top: 94px;
}
.section-div-ul-h3{
	padding-bottom: 10px;
}
.section-second-div-ul-list{
	display: flex;
	justify-content: center;
	flex-direction: row;
}
h3, h2{
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-text-p);
	text-align: center;
}
p{
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--color-adresses);
	text-align: center;
}
.section-div-h2-photo{
	padding-top: 94px;
	padding-bottom: 50px;
	text-align: center;
}
.section-div-ul-list{
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-bottom: 94px;
}
.section-div-ul-list-photo{
	padding: 30px;
}
.section-div-ul-list-photopersons{
	padding: 30px;
	padding-bottom: 94px;
}
.section-div-ul-listperson{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
.main-section-fourth{

	background: var(--color-background-section-fourth);
}
footer{
	background: var(--color-background-section-first);
}
.footer-div-link-logo-studio-white{
	font-family: var(--font-family-logo);
	font-weight: 700;
	font-size: 26px;
	color: var(--color-white);
}
.footer-div{
	padding: 60px 0;
}
address{
	padding-top: 20px;
}
/* a[href^="/"]{
	text-decoration: none;
	color: #212121;
}