.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.link-logo{
    margin-right: 93px ;
}
.flex-element{
    display: flex;
    align-items: center;
}

.logo-web{
    font-family: getFont('font-family-logo') , sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: getColor('color-logo-web');
}
.header-nav-link-span-studio{
    font-family: getFont('font-family-roboto') ,sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: getColor('color-logo-studio');
}
.nav-list-link{
    position: relative;
    color: getColor('color-menu-nav');
}

.header-address-email:hover,
.header-address-tel:hover{
    color: map-get($colors, 'color-logo-web');
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0 ;
}
.nav-link-list{
    display: flex;
}
.nav-link-list-contacts{
    display: flex;
    align-items: center;
}
.active-link{
    color: map-get($colors,  'color-logo-web');
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0 ;
}
.nav-list-link:hover{
    color: map-get($colors,  'color-logo-web');
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0 ;
}
.active-link::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 4px;
    top: 44px;
    left: 0;

    background-color: map-get($colors,  'color-active');
    border-radius: 15px;
    animation: pulse 2s infinite; 
}
@keyframes pulse {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
.active-link:hover::after {
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-right: 318px; /*-------------------!!!!!!!!!!!!!!! 344*/
}
.ul-link:not(:last-child){
    display: flex;
    margin-right:50px;
}
.header-address-email, .header-address-tel{
    color: map-get($colors,  'color-adresses');
    display: flex;
    align-items: center;
    gap: 10px;
    fill: map-get($colors,  'color-adresses');

    transition-property: color, fill ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0 ;

}
.ul-link-contacts:first-child{
    margin-right: 30px;
    
}
.ul-link-contacts:hover .header-address-email,.header-address-tel:hover{
    color: map-get($colors,  'color-active');
    fill: map-get($colors,  'color-logo-web');
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0 ;
}
.address-item{
    color: map-get($colors,  'color-white');
}