.hero{
    object-fit: cover;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    text-align: center;
    
    background-image: 
    linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
    url('../images/background.png');
    background-color: var(--color-background-section-first);
    background-repeat:no-repeat;
    background-position: center;
    color: var(--color-white);
    padding: 200px 0;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-title{
    width: 696px;
    font-family: var(--font-family-roboto);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    font-style:normal;
    color: var(--color-background-section-team);
    margin-bottom:30px;

}
.hero-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-align: center;
    width: 216px;
    height: 50px;
    background: var(--color-logo-web);
    color: var(--color-white);
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-button:active{
    background-color: var(--color-active);

}