.keyaspects-section{
    margin-top: 94px;
}
.keyaspects-h3-title{
    /* margin-top: 150px; */
    margin-bottom: 10px;
}
.keyaspects-list{
    display: flex;
    /* justify-content: space-between; */
}
.keyaspects-items{
    flex-basis: 270px;
}
.keyaspects-items::before{
    content: '';
    display:block;
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    background-color: var(--color-background-section-team);
    /* padding: 50px 100px; */
}
.keyaspects-items:nth-child(1):before{
    background-image: url(../images/antenna.png);
}
.keyaspects-items:nth-child(2):before{
    background-image: url(../images/clock.png);
}
.keyaspects-items:nth-child(3):before{
    background-image: url(../images/diagram.png);
}
.keyaspects-items:nth-child(4):before{
    background-image: url(../images/astronaut.png);
}
.keyaspects-items:not(:last-child){
    /* width: 270px; */
    margin-right: 30px;
}
.team-position, 
.whatwedo-title, 
.keyaspects-title,
.team-title{
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-p);
    text-align: center;
}
.team-position{
    margin-top:10px;
}
.keyaspects-title{
    margin-bottom: 50px;
    display: none;
}
.keyaspects-text,.team-text/*,.project-text*/{
    
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-adresses);

}