*, *::before, *::after{
	box-sizing: inherit;
	box-sizing: border-box;
}
:root{
	--color-logo-web:#2196F3 ;
	--color-logo-studio:#000000;
	--color-adresses:#757575;
	--color-white:#ffffff;
	--color-background-section-first:#2F303A;
	--color-background-section-team:#F5F4FA;
	--color-text-p:#212121;
	--color-active:#188CE8;
	--color-portfolio-cards: #EEEEEE;
	--color-svg: #AFB1B8;
	--color-bg-svg: rgba(255, 255, 255, 0.1);
	--font-family-logo:'Raleway', sans-serif;
	--font-family-roboto:'Roboto', sans-serif;
	--color-close-form: #E6E6E6;
	}
body{
		font-family:var(--font-family-roboto);
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 0.02em;
}	
.main-container{
		width: 1600px;
		margin: 0 auto;
		outline: 1px dotted deepskyblue;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px dotted tomato;
}